

.pagina {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cartao {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

.cartao img {
  display: block; 
  margin: 0 auto; 
  max-width: 200px; 
  margin-bottom: 20px; 
}

.cartao h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #334155;
}


.cartao form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}